/* Start Variables */
/*
html,
body {
  height: 100%;
  margin: 0;
}
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
  height: 100%;
}

.container {
  border: 5px outset rgb(219, 14, 14);
  display: grid;
  grid-template-rows: 17% 5% 60% 18%;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "bbb bbb bbb bbb bbb bbb"
    "footer footer footer footer footer footer";

  background: yellow;
  margin: 5px;
  height: 100%;
}
.container > div {
  text-align: center;
  font-size: 30px;
  border: 5px outset rgb(14, 15, 13);
  gap: 5px;
}
.header {
  grid-area: header;
  display: grid;
  grid-template-rows: auto auto;
}
.headerin {
  max-height: min-content;
}
.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  justify-content: left;
  align-content: center;
  background-color: black;
}

.nav > div {
  display: grid;
  align-content: center;
}
.nav > div > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

.bbb {
  grid-area: bbb;
  background-color: burlywood;

  display: grid;

  grid-template-columns: 30% 70%;
}

.bbb > div {
  margin: 5px;
}
.bbb1 {
  background-color: blue;
  display: grid;
  grid-template-rows: 50% 50%;
}
.bbb1 > div {
  margin: 5px;
  border: 5px outset black;
  background-color: brown;
}

.bbb2 {
  background-color: rgb(86, 25, 136);
  display: grid;
  grid-template-columns: 50% 50%;
}
.bbb2 > div {
  border: 5px outset black;
  background-color: rgb(202, 212, 175);
  padding: 5px;
  word-wrap: break-word;
}
.bbb2 > div > span {
  word-wrap: break-word;
  font-size: large;
  font-style: normal;
  font-weight: bold;
  color: rgb(14, 9, 9);
}
.bbb2 > div > p {
  word-wrap: break-word;
  font-size: large;
  font-style: normal;
  font-weight: bold;
  color: rgb(14, 9, 9);
}

@media only screen and (max-width: 700px) {
  .bbb {
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr;
  }
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: start;
  padding: 0%;
  gap: 0px;
}
.write2 {
  font-size: 33px;

  position: relative;
}
.write2 .laugh {
  transform: rotate(90deg);
  font-size: 33px;
  width: 20px;
  print-color-adjust: red;
  position: absolute;
  top: 80%;
  left: 44%;
}
